/* You can add global styles to this file, and also import other style files */

.avatar_edit {
    width: 80px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.avatar_mask {
    width: 40px;
    height: 40px;
    border-radius: 800px;
    overflow: hidden;
}

.avatar_mask img {
    height: 48px;
}

.card-header a {
    color: #444444;
}

.post-image {
    height: 200px;
    overflow: hidden;
}

footer {
    color: grey;
    text-align: center;
}